body {
    color: #40514E;
    margin: 0;
    font-family: 'Merriweather', serif;
}

.navbar {
    padding: 2rem 7rem;
    background-color: #E4F9F5;
}

.navbar-brand, .project-title {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}

.navbar-brand {
    font-size: 2rem;
}

.container {
    margin: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}

.project-block {
    margin: 2rem;
    border-radius: 5px;
    width: 400px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.project-block img {
    width: 100%;
}

.project-block img:hover {
    transform: scale(1.1);
}

.project-text {
    font-weight: bold;
}

@media screen and (max-width: 768px) {

    .container {
        margin: 2rem;
    }
    
}


  